
.page {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin-top: 50px;
}

/* LEFT SIDE */
.left {
    width: 63%;
}

.tabs span {
    margin-right: 25px;
    font-size: 18px;
    cursor: pointer;
    padding-bottom: 5px;
}

.tabs .active {
    border-bottom: 2px solid #246aff;
    color: #246aff;
}

h1 {
    margin-top: 15px;
}

.subtitle {
    color: #777;
}

.info-list div {
    margin-top: 10px;
    font-size: 16px;
}

hr {
    margin: 30px 0;
    border: none;
    border-top: 1px solid #ddd;
}

/* TEXT COLLAPSE */
.text {
    max-height: 120px;
    overflow: hidden;
    transition: .3s ease;
}

.text.expanded {
    max-height: 1000px;
}

.toggle-btn {
    color: #246aff;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

/* RIGHT CARD */
.right {
    width: 30%;
    position: sticky;
    top: 20px;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.card label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

.card select {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.price-box {
    margin-top: 20px;
}

.book-btn {
    width: 100%;
    padding: 14px;
    background: linear-gradient(to right, #1a4fff, #2f9bff);
    color: white;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
}

.book-btn:hover {
    opacity: 0.9;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .page {
        flex-direction: column;
    }
    .right {
        width: 100%;
    }
    .left {
        width: 100%;
    }
}