* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

/* booking form */
.booking-form {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 60px 0;
    /* background: #121212; */
}

.form-container {
    width: 85%;
    background: #ebeaea;
    padding: 40px;
    border-radius: 12px;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
}

/* Input group style */
.input-group {
    display: flex;
    flex-direction: column;
}

.input-group.full {
    grid-column: span 3;
}

.input-group label {
    color: black;
    margin-bottom: 8px;
    font-size: 15px;
}

input, select {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #fff;
    color: black;
    font-size: 15px;
}

input:focus,
select:focus {
    border-color: #9c4dff;
    outline: none;
}

/* Button */
.check-btn {
    width: 100%;
    padding: 14px;
    font-size: 17px;
    border: none;
    border-radius: 8px;
    background: #9c4dff;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.check-btn:hover {
    background: #b276ff;
}
.check-btn:disabled {
  background-color: #bfbfbf;  
  color: #ffffff;
  cursor: not-allowed;
  opacity: 0.6;
}
/* Responsive */
@media (max-width: 768px) {
    .form-container {
        grid-template-columns: 1fr;
    }

    .input-group.full {
        grid-column: span 1;
    }
}