body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* top activities */
.activities-section {
  width: 80%;
  padding: 40px 8%;
  font-family: Arial, sans-serif;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.section-header h2 {
  font-size: 32px;
  font-weight: 700;
  color: #111;
}

.section-header .view-all {
  color: #1a2fa3;
  text-decoration: none;
  font-size: 16px;
}

.activities-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 24px;
  margin-left: 20px;
}

.card {
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card-info {
  padding: 15px;
}

.card-info h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #222;
}

.location {
  color: #666;
  font-size: 14px;
  margin-bottom: 8px;
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #111;
}

.price span {
  color: #555;
  font-weight: normal;
}






/* HERO SECTION */
.hero {
    margin-top: 30px;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    padding: 0 100px;
    background: url('http://localhost:4200/assets/image/central-market.jpg');
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('http://localhost:4200/assets/image/central-market.jpg');
    /* position: relative; */
}
.hero-text {
    width: 50%;
    color: white;
}

.hero-text h1 {
    font-size: 60px;
    line-height: 1.1;
}

.hero-text h1 span {
    color: #b983ff;
}

.hero-text p {
    margin: 20px 0;
    max-width: 450px;
    font-size: 18px;
}

.reserve-btn {
    background: #9c4dff;
    border: none;
    padding: 15px 30px;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.hero-bus img {
    width: 650px;
    margin-left: 250px;
    margin-top: 300px;
    animation: float 3s ease-in-out infinite;
}

/* Floating bus animation */
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}