<footer class="footer">
        <div class="footer-top">

            <div class="footer-col">
                <h4>CONTACT US</h4>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">X</a></li>
                    <li><a href="#">Email</a></li>
                    <li><a href="#">Youtube</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>BOOK YOUR TRAVEL</h4>
                <ul>
                    <li><a href="#">Popular Bus Routes</a></li>
                    <li><a href="#">Popular Ferry Routes</a></li>
                    <li><a href="#">Popular Taxi Routes</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>COMPANY</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Terms Of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">All Operators</a></li>
                    <li><a href="#">Faqs</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Csr</a></li>
                    <li><a href="#">Travel Community</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>SUPPORT</h4>
                <ul>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Get an App</a></li>
                </ul>
            </div>

            <div class="footer-col pay">
                <h4>WE ACCEPT</h4>
                <div class="payment-icons">
                    <img src="assets/image/visa-card.png" alt="VISA">
                    <img src="assets/image/aba.png" alt="MasterCard">
                    <img src="/assets/image/acleda.png" alt="Apple Pay">
                </div>
            </div>

        </div>


        <div class="footer-bottom">
            <p>© 2025 Camboticket.com All Rights Reserved</p>

            <div class="footer-extra">
                <select class="language">
                    <option>English</option>
                    <option>Khmer</option>
                </select>

                <div class="apps">
                    <img src="/assets/image/app-store.svg" alt="App Store">
                    <img src="/assets/image/google-playstore.png" alt="Google Play">
                </div>
            </div>
        </div>
    </footer>