/* footer */
.footer {
  margin-top: 50px;
  background: #063c8c;
  color: white;
  padding: 40px 60px 20px;
  font-family: "Poppins", sans-serif;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 100px;
}

.footer-col {
  width: 20%;
  min-width: 200px;
  margin-bottom: 30px;
}

.footer-col h4 {
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin: 8px 0;
}

.footer-col ul li a {
  color: #d4e2ff;
  font-size: 14px;
  text-decoration: none;
}

.footer-col ul li a:hover {
  color: white;
}

.payment-icons img {
  width: 55px;
  margin-right: 8px;
  background: white;
  padding: 5px;
  border-radius: 8px;
}

.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.2);
  margin-top: 20px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 100px;
}

.footer-bottom p {
  font-size: 14px;
  margin: 0;
}

.footer-extra {
  display: flex;
  align-items: center;
  gap: 20px;
}

.language {
  background: #052f70;
  color: white;
  border: 1px solid #3f68ad;
  padding: 5px 10px;
  border-radius: 5px;
}

.apps{
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  border-radius: 20px;
}
.apps img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}