* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* HEADER / NAVBAR */
header {
    width: 100%;
    height: 80px;
    padding: 0px 100px;
    background: #063c8c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.logo img {
    width: 130px;
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}
nav a{
    margin: 0 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}
nav a:hover {
    color: black;
    cursor: pointer;
    text-decoration: underline;
}
.contact-btn {
    background: #9c4dff;
    color: #fff;
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
}
