* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

/* booking form */
.booking-form {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 60px 0;
    /* background: #121212; */
}

.form-container {
    width: 85%;
    background: #ebeaea;
    padding: 40px;
    border-radius: 12px;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
}

/* Input group style */
.input-group {
    display: flex;
    flex-direction: column;
}

.input-group.full {
    grid-column: span 3;
}

.input-group label {
    color: black;
    margin-bottom: 8px;
    font-size: 15px;
}

input, select {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #fff;
    color: black;
    font-size: 15px;
}

input:focus,
select:focus {
    border-color: #9c4dff;
    outline: none;
}

/* Button */
.check-btn {
    width: 100%;
    padding: 14px;
    font-size: 17px;
    border: none;
    border-radius: 8px;
    background: #9c4dff;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.check-btn:hover {
    background: #b276ff;
}

/* Responsive */
@media (max-width: 768px) {
    .form-container {
        grid-template-columns: 1fr;
    }

    .input-group.full {
        grid-column: span 1;
    }
}





/* categories */
.category-section {
    max-width: 1200px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.header h2 {
    font-size: 24px;
}

.view-all {
    color: #8f7fff;
    text-decoration: none;
    font-size: 14px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.card {
    background: #ebeaea;
    border-radius: 12px;
    overflow: hidden;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Right-side faded card */
.overlay-card {
    background: #101010;
}

.overlay-card .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000cc;
}

.overlay-card .label {
    position: absolute;
    font-size: 22px;
    font-weight: bold;
}









.offers-section {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.offers-section h2{
     font-size: 24px;
}

.offers-wrapper {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.offer-card {
    display: flex;
    align-items: center;
    background: #ebeaea;
    border-radius: 18px;
    padding: 25px;
    width: 48%;
    min-height: 160px;
    box-shadow: 0 0 20px #0004;
    transition: 0.25s;
}

.offer-card:hover {
    transform: scale(1.03);
}

.icon-box img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.offer-content {
    margin-left: 20px;
}
.offer-content h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}
.coupon-row {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 12px;
}
.coupon {
    padding: 4px 12px;
    border-radius: 6px;
    background: #2d2155;
    color: #a68cff;
    font-weight: 600;
    font-size: 13px;
}

.copy-icon {
    cursor: pointer;
    font-size: 18px;
    color: #b38cff;
}

.validity {
    font-size: 12px;
    color: #777;
}








