<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus Ticket Booking</title>
</head>
<body>

    <!-- HERO SECTION -->
    <app-hero-section></app-hero-section>


    <!-- Booking form -->
    <app-booking-form></app-booking-form>


    <!-- category -->
    <section class="category-section">
        <div class="header">
            <h2>Category</h2>
            <a href="#" class="view-all">View all</a>
        </div>

        <div class="cards">
            <div class="card">
                <img src="assets/image/b7.png" alt="Bus 1">
            </div>

            <div class="card">
                <img src="/assets/image/b3.jpg" alt="Bus 2">
            </div>

            <div class="card overlay-card">
                <img src="/assets/image/b4.png" alt="Bus 2">

            </div>
        </div>
    </section>



    <!-- Popular place -->
    <section class="category-section" style="margin-top: 50px;">
        <div class="header">
            <h2>Most Popular City Places</h2>
            <a href="#" class="view-all">View all</a>
        </div>

        <div class="cards">
            <div class="card">
                <img src="/assets/image/royal-palace.jpg" alt="Bus 1">
            </div>

            <div class="card">
                <img src="/assets/image/mekong-river.webp" alt="Bus 2">
            </div>

            <div class="card overlay-card">
                <img src="/assets/image/national-museum.jpg" alt="Bus 2">

            </div>
        </div>
    </section>



    <!-- Offers Section -->
    <section class="offers-section">
        <h2>Special Offers</h2>
        <div class="offers-wrapper">

            <!-- Offer Card 1 -->
            <div class="offer-card">
                <div class="icon-box">
                    <img src="/assets/image/offer-icon.png" alt="offer icon">
                </div>

                <div class="offer-content">
                    <h3>Get upto 40% off on bus booking</h3>
                    <div class="coupon-row">
                        <span class="coupon">GTECH08</span>
                        <span class="copy-icon">📋</span>
                    </div>
                    <p class="validity">Valid till: 31st March</p>
                </div>
            </div>

            <!-- Offer Card 2 -->
            <div class="offer-card">
                <div class="icon-box">
                    <img src="/assets/image/offer-icon.png" alt="offer icon">
                </div>

                <div class="offer-content">
                    <h3>Get upto 40% off on bus booking</h3>
                    <div class="coupon-row">
                        <span class="coupon">GTECH08</span>
                        <span class="copy-icon">📋</span>
                    </div>
                    <p class="validity">Valid till: 31st March</p>
                </div>
            </div>

        </div>

    </section>

    <!-- testimonals -->
     <app-testimonals></app-testimonals>

</body>
</html>