<div class="container">

 <form [formGroup]="bookingForm" class="form-section">
    <h2>Passenger Information</h2>

    <label>Fullname</label>
    <input type="text" formControlName="fullname" placeholder="e.g. G-Tech Official">

    <label>Email Address</label>
    <input type="email" formControlName="email" placeholder="e.g. gtech.official08@gmail.com">
    <small>You will get ticket via this email address.</small>

    <label>Phone</label>
    <input type="text" formControlName="phone" placeholder="e.g. +1 234 567 890">

    <label>Alternative Phone</label>
    <input type="text" formControlName="altPhone" placeholder="e.g. +1 432 576 890">

    <!-- Pay Button -->
    <button class="btn-pay" (click)="onProcessPayment()" [disabled]="!bookingForm.valid">
        Process to Payment
    </button>
</form>

    <!-- Right: Booking Status -->
    <div class="status-card">
        <h3>Your Booking Status</h3>

        <div class="status-row">
            <span>From: {{ from }}</span>
            <span>To: {{ to }}</span>
        </div>

        <div class="status-row">
            <span>Arrive at: {{ time }}</span>
            <span>Depart at: {{ date }}</span>
        </div>

        <div class="status-row">
            <span>Total No. of Seat</span>
            <span>{{ seat }}</span>
        </div>

        <!-- You can calculate total if needed -->
        <div class="status-row">
            <span>Total Amount</span>
            <span>Rs. ${{ seat * price }}</span>
        </div>
    </div>

</div>


<div class="qr-popup" *ngIf="showQRPopup">
    <div class="qr-content">
        <h3>Scan to Pay</h3>

        <img src="assets/image/photo_2025-11-20_13-07-46.jpg" alt="QR Code" width="220">

        <button class="close-btn" (click)="showQRPopup = false">Close</button>
    </div>
</div>