.container {
    display: flex;
    gap: 80px;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 150px; 
}

/* FORM SECTION */
.form-section {
    width: 55%;
    margin: auto;
}

.form-section h2 {
    margin-bottom: 20px;
    font-size: 22px;
}

.form-section label {
    font-weight: bold;
    margin-top: 15px;
    display: block;
}

.form-section input {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid #ddd;
    background: #f2f2f2;
}

.form-section small {
    color: gray;
    margin-bottom: 10px;
    display: block;
}

/* BOOKING STATUS CARD */
.status-card {
    width: 40%;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.status-card h3 {
    text-align: center;
    font-size: 19px;
    margin-bottom: 20px;
}

.status-row {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
}

.status-row span {
    color: #555;
}

/* PAY BUTTON */
.pay-box {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.pay-btn {
    background: #7b2cff;
    color: white;
    padding: 14px 50px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.pay-btn:hover {
    background: #6a24db;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }

    .form-section, .status-card {
        width: 100%;
    }

    .pay-btn {
        width: 100%;
    }
}
.qr-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.qr-content {
  background: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.close-btn {
  margin-top: 15px;
  padding: 8px 20px;
  border: none;
  background: #000;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
.btn-pay{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(22, 0, 129);
    color: #ffffff;
    border: none;
}
.btn-pay:disabled {
  background-color: #bfbfbf;  
  color: #ffffff;
  cursor: not-allowed;
  opacity: 0.6;
}