/* HERO IMAGE */
.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
h1{
    margin-top: 150px;
    text-align: center;
}
.hero img {
    max-width: 70%;
    border-radius: 6px;
}

/* CONTENT TEXT */
.content {
    width: 70%;
    margin: 30px auto;
    font-size: 18px;
}

/* HEADING */
.table-title {
    width: 70%;
    margin: 40px auto 15px auto;
    font-size: 28px;
    font-weight: 700;
}

/* TABLE BOX */
.table-box {
    width: 70%;
    margin: 0 auto 40px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
}

thead {
    background: #f5f5f5;
}

th, td {
    padding: 16px;
    border-bottom: 1px solid #ddd;
}

th {
    text-align: left;
    font-weight: 700;
}

tbody tr:hover {
    background: #fafafa;
}

/* GREEN NOTE */
.note {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}

.note a {
    color: #0078ff;
    text-decoration: none;
}

.note a:hover {
    text-decoration: underline;
}