 <section class="testimonials">
  <h2>Testimonials</h2>
  <div class="testimonial-container">
    <div class="testimonial-box">
      <p class="text">
        I booked a ferry with the wrong date. Contacted support and they corrected 
        the date and issued new tickets right away! 5 stars!!
      </p>
      <div class="user">
        <div class="avatar"><i class="fa-regular fa-user"></i></div>
        <div>
          <h4>Allen</h4>
          <span>Japan</span>
          <div class="stars">★★★★★</div>
        </div>
      </div>
    </div>
    <div class="testimonial-box">
      <p class="text">
        Excellent service from Phnom Penh to Pakse. Safe trip, helpful staff, 
        schedule respected. Definitely the best one.
      </p>
      <div class="user">
        <div class="avatar"><i class="fa-regular fa-user"></i></div>
        <div>
          <h4>Román</h4>
          <span>France</span>
          <div class="stars">★★★★★</div>
        </div>
      </div>
    </div>

    <div class="testimonial-box">
      <p class="text">
        It does not get easier or more professional! Needed to change travel date 
        at night and they handled it perfectly. Highly recommended.
      </p>
      <div class="user">
        <div class="avatar"><i class="fa-regular fa-user"></i></div>
        <div>
          <h4>Andrew</h4>
          <span>South Africa</span>
          <div class="stars">★★★★★</div>
        </div>
      </div>
    </div>

  </div>
</section>