/* Testimonals */
.testimonials {
    width: 80%;
    margin: auto;
    margin-top: 50px; 
}

.testimonial-container {
  display: flex;
  gap: 25px;
  margin-top: 30px;
}

.testimonial-box {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 30%;
  min-width: 260px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.testimonial-box .text {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.user {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar {
  width: 45px;
  height: 45px;
  background: #ddd;
  border-radius: 50%;
}
.avatar .fa-user {
  font-size: 24px;
  color: #888;
  line-height: 45px;
  text-align: center;
  display: block;
  margin: auto;

}

.user h4 {
  margin: 0;
  font-size: 16px;
}

.user span {
  font-size: 13px;
  color: #555;
}

.stars {
  color: gold;
  font-size: 14px;
}