<section class="hero">
        <div class="hero-text">
            <h1>Reserve Your <br> Bus <span>Tickets</span> <br> Now</h1>

            <p>
                Find and book your bus tickets with just a few clicks.
                We offer a wide range of bus routes and schedules to suit your needs.
            </p>

            <button class="reserve-btn">Reserve Seat Now</button>
        </div>

        <div class="hero-bus">
            <img src="assets/image/bus2.png" alt="Bus Image">
        </div>
    </section>