body{
    margin-top: 50px;
}

/* Tabs */
.tabs {
  display: flex;
  padding: 20px 10%;
  gap: 15px;
}

.tabs button {
  background: #e8edf7;
  border: none;
  padding: 12px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.tabs .active {
  background: #0b4cd1;
  color: white;
}

/* Layout */
.content {
  display: flex;
  width: 90%;
  margin: auto;
  gap: 25px;
}

/* Sidebar Filters */
.filters {
  width: 250px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  height: fit-content;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.filters h4 {
  margin-bottom: 10px;
}

.filters label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

/* Main Results */
.results {
  flex: 1;
}

.results-count {
  text-align: right;
  padding-right: 10px;
  margin-bottom: 15px;
}

/* Trip Cards */
.trip-card {
  background: #fff;
  padding: 15px;
  border-radius: 16px;
  margin-bottom: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  position: relative;
}

.tag {
  background: #f7c600;
  padding: 5px 12px;
  border-radius: 8px 8px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 14px;
}

.trip-content {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.operator-info img {
  width: 60px;
}

.rating {
  color: #777;
  font-size: 14px;
}

.trip-time {
  text-align: center;
}

.trip-time h2 {
  margin: 5px 0;
}

.trip-info {
  display: block;
  margin-top: 5px;
  color: #0b4cd1;
  font-size: 14px;
}

.price-box {
  text-align: right;
}

.price-box h2 {
  margin: 5px 0;
}

.cashback {
  color: green;
}

.book-btn {
  background: linear-gradient(to right, #0b4cd1, #2aa6f8);
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 5px;
}
