body {
  margin-top: 100px;
  font-family: "Roboto", sans-serif;
}

.container {
  background: #fff;
  width: 90%;
  max-width: 850px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px #0002;
  margin: auto;
}

.note {
  text-align: center;
  font-size: 16px;
  margin-bottom: 15px;
}

.nationality {
  text-align: center;
  margin-bottom: 25px;
}
.nationality label {
  margin: 0 15px;
  font-size: 18px;
}

.tabs {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  background: #f1f4fa;
  margin-bottom: 20px;
}
.tabs button {
  flex: 1;
  padding: 12px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}
.tabs .active {
  background: white;
  font-weight: bold;
}

.seat-area {
  height: 350px;
  overflow-y: scroll;
  margin-bottom: 20px;
}

.seats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  padding: 20px;
  justify-items: center;
}

.seat {
  width: 55px;
  height: 70px;
  background: #f4b5b5;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
.seat:hover {
  transform: scale(1.07);
  background: #ff8a8a;
}

.scroll-msg {
  text-align: center;
  font-size: 14px;
  color: #777;
  margin-top: -10px;
}

.legend {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
  font-size: 16px;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}
.available {
  background: #c9c9c9;
}
.selected {
  background: #1b59e0;
}
.unavailable {
  background: #e68787;
}



.booking-card {
    width: 420px;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin: auto;
    margin-top: 50px;
}

.booking-card h2 {
    margin-bottom: 20px;
    font-size: 22px;
}

.top-section {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.bus-info h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.rating {
    margin-top: 4px;
    color: #444;
}

.info-row {
    display: grid;
    grid-template-columns: 150px 1fr;
    margin: 10px 0;
    font-size: 15px;
}

hr {
    border: none;
    height: 1px;
    background: #e5e5e5;
    margin: 20px 0;
}

.total-row {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}






.booking-container {
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

h2, h3 {
    font-weight: 600;
}

.note {
    margin-top: -10px;
}

.info-list {
    padding-left: 20px;
    margin-bottom: 25px;
    color: #444;
}

.form-row {
    display: flex;
    gap: 15px;
    margin-bottom: 18px;
    flex-wrap: wrap;
}

input, select, textarea {
    padding: 14px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    flex: 1;
    font-size: 15px;
}

textarea {
    height: 120px;
    resize: none;
}

.phone-box {
    display: flex;
    gap: 5px;
    flex: 0.6;
}

.flag-select {
    width: 60px;
}

.code {
    width: 80px;
}

.right-hints {
    flex: 1;
    font-size: 14px;
    color: #555;
}

.small-text {
    font-size: 14px;
    margin-bottom: 10px;
}

.pay-btn:disabled {
    width: 100%;
    padding: 16px;
    background: linear-gradient(to right, #9bb8ff, #8dc0e8);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}
.pay-btn{
   width: 100%;
    padding: 16px;
    background-color: #1b59e0;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}
.qr-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.qr-content {
  background: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.close-btn {
  margin-top: 15px;
  padding: 8px 20px;
  border: none;
  background: #000;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
