body {
    background: #f5f5f5;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 30px;
}

.container {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 40px;
    max-width: 1300px;
    margin: auto;
    margin-top: 150px;
    margin-left: 150px;
}

.bus-img {
    width: 100%;
    border-radius: 10px;
}

.left h1 { font-size: 30px; margin: 10px 0 5px; }
.plate { font-size: 16px; color: #777; }
.rating { margin-bottom: 15px; color: #444; }
.desc { color: #666; line-height: 1.5; }

.input-group label { font-size: 15px; color: #444; }
.input-group select {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background: #eee;
    border: 1px solid #ccc;
}

.row { display: flex; gap: 20px; margin-bottom: 20px; }
.row.single { width: 50%; }

.seat-title { margin-top: 10px; }

.seats {
    display: flex;
    gap: 12px;
    margin: 8px 0;
}

.seat {
    width: 25px;
    height: 25px;
    border: 2px solid #444;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    transition: 0.2s;
}
.seat .fa-couch{
    color: #444;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    margin-left: 2px;
}
.seat.booked {
    background: #b42323;
    border-color: #b42323;
    cursor: not-allowed;
}

.seat.selected {
    background: #7d49ff;
    border-color: #7d49ff;
}

.legend {
    margin-top: 20px;
    display: flex;
    gap: 25px;
    font-size: 14px;
    color: #444;
}

.dot {
    width: 14px;
    height: 14px;
    border-radius: 3px;
    display: inline-block;
    margin-right: 5px;
}

.dot.available { background: #fff; border: 2px solid #444; }
.dot.booked { background: #b42323; border: 2px solid #b42323; }
.dot.selected { background: #7d49ff; border: 2px solid #7d49ff; }

.checkout-btn {
    margin-top: 25px;
    width: 60%;
    padding: 14px;
    background: #8e3bff;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
