<section class="news-section">

    <div class="news-card">
        <a routerLink="/blog-detail"><img src="assets/image/wat-phnom.png" alt="Phnom Penh Bus"></a>
        <h2>The Ultimate Guide — Somewhere in Phnom Penh City to Wat Duan Penh by Bus (2025 Update)</h2>
    </div>
    <div class="news-card">
        <a href=""><img src="assets/image/royal-palace.jpg" alt="Phnom Penh Bus"></a>
        <h2>The Ultimate Guide — Somewhere in Phnom Penh City to Royal Palace by Bus (2025 Update)</h2>
    </div>
    <div class="news-card">
        <a href=""><img src="assets/image/independance.jpg" alt="Phnom Penh Bus"></a>
        <h2>The Ultimate Guide — Somewhere in Phnom Penh City to Independence Monument by Bus (2025 Update)</h2>
    </div>
    <div class="news-card">
        <a href=""><img src="assets/image/national-museum.jpg" alt="Phnom Penh Bus"></a>
        <h2>The Ultimate Guide — Somewhere in Phnom Penh City to National Museum by Bus (2025 Update)</h2>
    </div>
    <div class="news-card">
        <a href=""><img src="assets/image/central-market.jpg" alt="Phnom Penh Bus"></a>
        <h2>The Ultimate Guide — Somewhere in Phnom Penh City to Central Market by Bus (2025 Update)</h2>
    </div>
    <div class="news-card">
        <a href=""><img src="assets/image/mekong-river.webp" alt="Phnom Penh Bus"></a>
        <h2>The Ultimate Guide — Somewhere in Phnom Penh City to Mekong River by Bus (2025 Update)</h2>
    </div>
</section>